<box-splitted
    title="Hauptsponsor"
    class="box"
>
    <p
        class="text color-secondary align-left"
    >- 4 Meter Bandenwerbung (ohne Herstellkosten)</p>
    <p
        class="text color-secondary align-left"
    >- Anzeige auf Homepage als Hauptsponsor</p>
    <p
        class="text color-secondary align-left"
    >- Anzeige im Newsletter als Hauptsponsor</p>
    <p
        class="text color-secondary align-left margin-bottom-large"
    >- Werbung auf unseren Social-Media-Kanälen</p>
    <p
        class="text color-primary align-left"
    >300,00 Euro pro Jahr</p>
</box-splitted>
<box-splitted
    title="Premiumsponsor"
    class="box"
>
    <p
        class="text color-secondary align-left"
    >- 2Meter Bandenwerbung (ohne Herstellkosten)</p>
    <p
        class="text color-secondary align-left"
    >- Anzeige auf Homepage als Premiumsponsor</p>
    <p
        class="text color-secondary align-left"
    >- Anzeige im Newsletter als Premiumsponsor</p>
    <p
        class="text color-secondary align-left margin-bottom-large"
    >- Werbung auf unseren Social-Media-Kanälen</p>
    <p
        class="text color-primary align-left"
    >200,00 Euro pro Jahr</p>
</box-splitted>
