<events
    [eventGroupsResult]="eventGroupsResult1"
    [eventGroupTitle]="eventGroupTitle"
    [getCalendarSubscriptionLink]="getCalendarSubscriptionLink"
></events>
<events
    [eventGroupsResult]="eventGroupsResult2"
    [eventGroupTitle]="eventGroupTitle"
    [getCalendarSubscriptionLink]="getCalendarSubscriptionLink"
></events>
<events
    [eventGroupsResult]="eventGroupsResult3"
    [eventGroupTitle]="eventGroupTitle"
    [getCalendarSubscriptionLink]="getCalendarSubscriptionLink"
></events>
<events
    [eventGroupsResult]="eventGroupsResult4"
    [eventGroupTitle]="eventGroupTitle"
    [getCalendarSubscriptionLink]="getCalendarSubscriptionLink"
></events>
