<text-section>
    <p class="text">Das ist eine Text Sektion</p>
</text-section>
<text-section
    title="Der Titel 1"
>
    <p class="text">Das ist eine Text Sektion mit Titel</p>
</text-section>
<text-section
    [collapsed]="false"
>
    <p class="text color-secondary">Das ist eine einklappbare Text Sektion</p>
</text-section>
<text-section
    title="Der Titel 2"
    [collapsed]="false"
>
    <p class="text color-primary">Das ist eine einklappbare Text Sektion mit Titel</p>
</text-section>
<text-section
    title="Der Titel 3"
    [collapsed]="true"
>
    <p class="text">Das ist eine eingeklappte Text Sektion mit Titel</p>
</text-section>
