<p>Valid: Roles []</p>
<authentication-check
    [roles]="[]"
    [loginLink]="loginLink"
>Hello there</authentication-check>
<p>Invalid: Roles ['invalid']</p>
<authentication-check
    [roles]="['invalid']"
    [loginLink]="loginLink"
>Hello there</authentication-check>
<p>Invalid: Roles ['valid', 'invalid']</p>
<authentication-check
    [roles]="['valid', 'invalid']"
    [loginLink]="loginLink"
>Hello there</authentication-check>
<p>Valid: Roles ['valid']</p>
<authentication-check
    [roles]="['valid']"
    [loginLink]="loginLink"
>Hello there</authentication-check>

<p>Inalid, not shown: Roles ['invalid']</p>
<authentication-check
    [roles]="['invalid']"
    [loginLink]="loginLink"
    [authenticationStates]="authenticationStates"
    key="key-1"
>Hello there</authentication-check>
<p>Valid: Roles ['valid']</p>
<authentication-check
    [roles]="['valid']"
    [loginLink]="loginLink"
    [authenticationStates]="authenticationStates"
    key="key-2"
>Hello there</authentication-check>
