<text-section>
    <p class="text">Das ist eine Text Sektion</p>
</text-section>
<text-section
    title="Der Titel"
>
    <p class="text">Das ist eine Text Sektion mit Titel</p>
</text-section>
<text-section
    [collapsed]="false"
>
    <p class="text color-secondary">Das ist eine kollabierbare Text Sektion</p>
</text-section>
<text-section
    title="Der Titel"
    [collapsed]="false"
>
    <p class="text color-primary">Das ist eine kollabierbare Text Sektion mit Titel</p>
</text-section>
<text-section
    title="Der Titel"
    [collapsed]="true"
>
    <p class="text">Das ist eine kollabierte Text Sektion mit Titel</p>
</text-section>
