<input-form
    [inputForm]="inputForm"
    submitButtonText="Submit"
    (submitButtonClicked)="submit()"
>
    <checkbox-input
        [inputField]="inputForm.field('checkbox1')"
        label="Checkbox 1"
    />
    <checkbox-input
        [inputField]="inputForm.field('checkbox2')"
        label="Checkbox 2"
    />
    <date-time-input
        [inputField]="inputForm.field('date1')"
        label="Date 1"
    />
    <date-time-input
        [inputField]="inputForm.field('date2')"
        label="Date 2"
        components="date"
    />
    <date-time-input
        [inputField]="inputForm.field('date3')"
        label="Date 3"
        components="time"
    />
    <inline-select-input
        [inputField]="inputForm.field('select1')"
        label="Select 1"
        [selectOptions]="selectOptions1"
    />
    <inline-select-input
        [inputField]="inputForm.field('select2')"
        label="Select 2"
        [selectOptions]="selectOptions2"
    />
    <inline-select-input
        [inputField]="inputForm.field('select3')"
        label="Select 3"
        [selectOptions]="selectOptions3"
    />
    <select-input
        [inputField]="inputForm.field('select1')"
        label="Select 1"
        [selectOptions]="selectOptions1"
    />
    <select-input
        [inputField]="inputForm.field('select2')"
        label="Select 2"
        [selectOptions]="selectOptions2"
    />
    <select-input
        [inputField]="inputForm.field('select3')"
        label="Select 3"
        [selectOptions]="selectOptions4"
    />
    <stepper-input
        [inputField]="inputForm.field('stepper1')"
        label="Stepper 1"
        [min]="0"
        [max]="3"
    />
    <text-input
        [inputField]="inputForm.field('text1')"
        label="Text 1"
    />
    <text-area-input
        [inputField]="inputForm.field('text2')"
        label="Text 2"
    />
</input-form>
<input-form
    [inputForm]="inputForm1"
    submitButtonText="Loading"
/>
<input-form
    [inputForm]="inputForm2"
    submitButtonText="Success"
/>
<input-form
    [inputForm]="inputForm3"
    submitButtonText="Failed"
/>
